<div class="auth-container">
  <mat-card class="auth-card" appearance="outlined">
    <mat-card-header>
      <div class="logo-container">
        <img src="https://tse2.mm.bing.net/th?id=OIP.rITI4sy5rMo3Ax0ANJNJLQAAAA&pid=Api&P=0&h=180" alt="Logo" class="logo" />
      </div>
      <mat-card-title>Autenticación</mat-card-title>
      <mat-card-subtitle>Por favor, inicia sesión para continuar</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form class="auth-form">
        <button mat-flat-button color="primary" class="full-width" (click)="login()">
          Iniciar Sesión
        </button>
      </form>
    </mat-card-content>

  </mat-card>
</div>
